<h1>Baby Events</h1>
<img src="<%= google_api_graph %>"/>
<p>
  <%= link_to 'New Feeding', new_event_path(:event_type => "feeding") %>
  <%= link_to 'New Diaper', new_event_path(:event_type => "diaper") %>
</p>

<table>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.event_type.humanize, edit_event_path(event)%></td>
    <td><%= event.created_at.to_formatted_s(:long) %></td>
  </tr>
<% end %>
</table>

