<!DOCTYPE html>
<html>
<head>
  <title>Babytracks</title>
  <%= stylesheet_link_tag :all %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tag %>
  </head>
<body>
  <ul class="hmenu">
    <%= render 'devise/menu/login_items' %>
  </ul>

  <%= yield %>

</body>
</html>
