<!DOCTYPE html>
<html>
<head>
  <title>Babytracks</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <style>
    ul.hmenu {
      list-style: none;	
      margin: 0 0 2em;
      padding: 0;
    }

    ul.hmenu li {
      display: inline;  
    }
  </style>
</head>
<body>
  <ul class="hmenu">
    <%= render 'devise/menu/login_items' %>
  </ul>

  <%= yield %>

</body>
</html>
